@*@using WebSiteBanHang.Models;
@model List<ThanhVien>*@
@model IEnumerable<WebSiteBanHang.Models.ThanhVien>
@{
    ViewBag.Title = "GroupDuLieu";
}
@*Group dữ liệu*@

@foreach (var GroupLTV in Model.GroupBy(n => n.LoaiThanhVien))
{
    <div>@GroupLTV.Key.TenLoai</div>
    foreach (var item in GroupLTV)
    {
        <p>@item.TaiKhoan</p>
    }

}



@foreach (var GroupLTV in Model.GroupBy(n => n.MaLoaiTV))
{
    <div>@GroupLTV.Key</div>
    foreach (var item in GroupLTV)
    {
        <p>@item.TaiKhoan</p>
    }

}

